name: Validate backwards compatibility

on:
  pull_request:
    branches:
      - master
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
      - name: Setup ComfyUI mocks
        run: |
          python .github/install_mocks.py
      - uses: comfy-org/node-diff@main
